.d-header-icons {
  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50em;
    height: 50em;
    padding: 5em;
    color: red;
    text-decoration: none;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all linear .15s;
    img.avatar {
      width: 5em;
      height: 5em;
    }
    &:hover {
      color: greenyellow;
      background-color: blue;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
    }
    &:active {
      color: black;
      background-color: white;
    }
  }
}