// Heavy Shadow
.d-header {
  border-bottom: 5px dotted #996633;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
}

// Natural white background for content with shadow
body {
  background-color: #a09a91;
}

//make logo bigger
site-logo {
    max-height: 250px
}

body:before {
  display: inline-block;
  width: 1025px;
  min-height: 100%;
  height: inherit;
  background-color: #d3eff3;
  content: " ";
  position: fixed;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

// Also set for "now typing" users notification
.presence-users {
  background-color: #fdfbf9;
}

// Natural white for message editor background area
#reply-control {
    background-color: #fdfbf9;
}

// User profile messages list
.user-stream .item, .user-stream .user-stream-item {
  background-color: #fdfbf9;
}

body.docked::before {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

// Adjust Categories view category bullets
.topic-list.categories td.category {
  border-left: 13px solid;
}

// Reduced AdSense padding, hide ADVERTISEMENT-labels
.adsense {
  text-align: center;
  padding: 1px;
  margin-bottom: 5px;
}

.google-adsense-label {
  display: none;
}

.google-dfp-ad-label {
  display: none;
}

// Hide the dangerous Mailing list mode -setting
.user-preferences .pref-mailing-list-mode {
  display: none;
}

// Remove extra space between before ad in categories view
#list-area {
  margin-bottom: 20px;
}

// The so called "Sanitized Mod" UI adjustments
.topic-list .activity .latest-info {
  display: inline-block;
  vertical-align: middle;
}

.topic-list .activity img.avatar {
 /* vertical-align: middle;
  margin-right: 5px;
  max-height: 32px;
  max-width: 32px;*/
    display: none; //testing out removing avatars
}

.topic-list .activity {
  width: 160px;
  text-align: left;
  padding-left: 20px;
  white-space: nowrap;
}

.topic-list .activity .latest-info .name {
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 0px;
  color: #444444;
}

.topic-list .activity .latest-info .relative-date {
  display: block;
  font-size: 0.9em;
  color: #444444;
}

.topic-list td {
  padding: 5px 5px;
}
/*
// Last visit separator re-coloring
.topic-list .topic-list-item-separator td {
  border-bottom: 10px solid #996633; //test
  line-height: 0.1em;
  padding: 0px;
  text-align: center;
}

.topic-list .topic-list-item-separator td span {
  background-color: #e2eff3;
  color: #594a41; //text color
  padding: 0px 80px; //testing padding
  font-size: 0.929em;
}*/

/* Fix for Discourse bug.
   Progress indicator positioning gets off with footer. */
.posts-wrapper {
  margin-bottom: 16px;
}

#topic-progress-wrapper.docked {
  margin-bottom: -20px;
}

//code based partially off of github.com/TapparaCo/discourse-theme-battle-axe