// Heavy Shadow
.d-header {
    height: 100px;
  border-bottom: 5px dotted #996633;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5);
}

// steel blue background
body {
  background-color: #668890;
}

.content-list h3 {
    color: $header_primary;
}

//make logo bigger
#site-logo.logo-big {
  max-height: 80px;
  max-width: 250px;
  margin-top: 5px;
}
body:before {
  display: inline-block;
  width: 1250px;
  min-height: 100%;
  height: inherit;
  background-color: $secondary;
  content: " ";
  position: fixed;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

// Also set for "now typing" users notification
.presence-users {
  background-color: #fdfbf9;
}

// Natural white for message editor background area
#reply-control {
    background-color: #fdfbf9;
}

// User profile messages list
.user-stream .item, .user-stream .user-stream-item {
  background-color: #fdfbf9;
}

body.docked::before {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

// Adjust Categories view category bullets
.topic-list.categories td.category {
  border-left: 13px solid;
}

// Reduced AdSense padding, hide ADVERTISEMENT-labels
.adsense {
  text-align: center;
  padding: 1px;
  margin-bottom: 5px;
}

.google-adsense-label {
  display: none;
}

.google-dfp-ad-label {
  display: none;
}

// Hide the dangerous Mailing list mode -setting
.user-preferences .pref-mailing-list-mode {
  display: none;
}

// Remove extra space between before ad in categories view
#list-area {
  margin-bottom: 20px;
}


/* Fix for Discourse bug.
   Progress indicator positioning gets off with footer. */
.posts-wrapper {
  margin-bottom: 16px;
}


//code based partially off of github.com/TapparaCo/discourse-theme-battle-axe

.topic-list > tbody > tr:nth-child(odd) {
    background-color: white;
}


.topic-list > tbody tr:not(.last-visit):not(.topic-list-item-separator) td {
    border-bottom: 1px solid #eee;
}

.topic-list a.title:not(.badge-notification) {
    color: #000000;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 20px;
}

.topic-list a.title:not(.badge-notification):hover {
    text-decoration: underline;
}

.topic-list .creator, .topic-list .editor {
    font-size: 13px;
    display: block;
    margin-top: 3px;
    font-color: #ff0000;
}

.topic-list {
    td, .creator a, .editor a {
        color: #ff0000; 
    }
}

.topic-list td {
    padding-bottom: 10px;
}

.topic-list th {
    color: black;
    background-color: #fafafa;
}
.topic-list {
    border-top: none;
}

.topic-list td:first-of-type {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.topic-list tr.topic-list-item-separator td:first-of-type {
    padding: 0;
}

 
.topic-list {
    .fa-tag {
        opacity: 0.7;
        font-size: 10px;
        margin-right: -2px;
    }
    .num.posts-map {
        position: relative;
        font-size: 17px;
        a {
            color: #888 !important;
            font-weight: normal;
        }
        a.heatmap-high {
            color: #c66 !important;   
        }
        width: 100px;
    }
}

.topic-list td.last-post, .topic-list th.activity {
    width: 160px;
    .relative-date {
        color: #666;
    }
}

.topic-list .creator .relative-date {
    margin-left: 8px;
}

.badge-category-bg {
    opacity: 0.8;
}

.topic-list .badge-wrapper.bar {
    .badge-category {
      color: #FFFFFF !important; //is it black
      font-weight: 600;
      font-size: 12px;
      padding: 2px 6px;
    }
    .badge-category-bg {
        top: -1px;
    }
}

.last-post {
    .poster-avatar {
        margin-right: 10px;
    }
    .poster-avatar, .poster-info {
        float: left;
    }
}

.topic-list .posts {
    width: auto;
}

/* topic page */
#topic-progress {
    background-color: #f1f1f1;
    color: #666;
    font-weight: normal;
    .bg {
       background-color: #bee9e9;
    }
}

nav.post-controls button.has-like {
    color: #08c;
}

.badge-wrapper.bullet span.badge-category {
    color: #333 !important;
}

.creator .badge-wrapper.bullet span.badge-category {
    color: #888 !important;
    margin-top: -2px;
}

img.avatar {
    border-radius: 3px;
}

#suggested-topics td.main-link {
    width: 500px;
}

.topic-list a.title.visited:not(.badge-notification) {
    color: #6644aa;
}


.topic-list-item .discourse-tags {
    font-size: 0.75em;
    display: inline-block;
    margin-left: 5px;
}

//^^from samsaffron simple theme

#create-topic:hover,
.topic-list .sortable:hover,
.drop-down-visible .d-header .icons .active .icon,
.d-header .icons .icon:hover {
    color: #FF0000;
    background-color: #069;
}

//from featheredtoast as dark